body {
  background-color:darkkhaki;
  width: 900px;
  height: 500px;
}

h1 {
  font-size: 70px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  background-color:red;
  padding: 20px;
  display: inline-block;
}

h2 {
  font-size: 30px;
  background-color: orange;
  display: inline-block;
  padding: 20px;
}

h3 {
  font-size: 20px;
  background-color: steelblue;
  display: inline-block;
  padding: 20px;
}

ul { 
  padding: 20px;
  margin: 20px;
  
}

li {
    list-style-type: circle;
    padding: 20px;
    align-items: center;

  }
p {
font-size: 30px;
padding: 20px;
}
